@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #f3f4f6;
  --card-foreground: #171717;
  --popover: #f9fafb;
  --popover-foreground: #171717;

  --primary: #38bdf8;
  --primary-foreground: #0f172a;

  --secondary: #c084fc;
  --secondary-foreground: #0f172a;

  --muted: #e5e7eb;
  --muted-foreground: #4b5563;

  --accent: #f472b6;
  --accent-foreground: #0f172a;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #d1d5db;
  --input: #d1d5db;
  --ring: #38bdf8;

  --radius: 1rem;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

  :root {
    --background: #131926;
    --foreground: #e5e7eb;
    --card: #1f2937;
    --card-foreground: #f9fafb;
    --popover: #111827;
    --popover-foreground: #f9fafb;

    --primary: #0ea5e9;
    --primary-foreground: #0f172a;

    --secondary: #9333ea;
    --secondary-foreground: #f9fafb;

    --muted: #374151;
    --muted-foreground: #9ca3af;

    --accent: #be185d;
    --accent-foreground: #f9fafb;

    --destructive: #dc2626;
    --destructive-foreground: #f9fafb;

    --border: #1f2937;
    --input: #1f2937;
    --ring: #0ea5e9;
  }


/* 기본 스타일 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans KR", system-ui, sans-serif;
}
